html, body {
    height: 100%;
    overflow: hidden;
  }
  body {
    margin: 16px; 
  }
  h1 {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 24px;
  }
  a {
    color: inherit;
    font-size: 16px;
  }